<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">

    <link rel="icon" href="img/favicon.png">
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <title>GN8</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          

  </head>

  <body >
        <nav style="background-color:#9b59b6">
            <div class="container nav-wrapper" >
                <a class="brand-logo">GN8</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="waves-effect white btn black-text">Install</a></li>
                </ul>
            </div>
        </nav>
        <h5 class="hide-on-large-only center"><a class="waves-effect white btn black-text">Donwload App</a></h1>
        <br>
        <div class="container">
            <div class="row">
                
                <div class="col l6 m6 s12 ">
                    <h5 class="center hide-on-small-only"><img src="/assets/img/iphone.jpg" height="500" width="300" alt="phone"></h5>
                    <h5 class="center hide-on-med-and-up"><img src="/assets/img/iphone.jpg" height="400" width="220" alt="phone"></h5>
                </div>
                <div class="col l6 m6 s12">
                    <div class="card" style="background-color: white">
                        <div class="card-content black-text">
                            <h2 class="center" style="color:#9b59b6">GN8</h1>
                            <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                            <br>
                            <h5 class="center"><i class="fa fa-facebook-square" style="font-size:50px;color:#3b5998"></i> <i class="fa fa-instagram" style="font-size:50px;color:#bc2a8d"></i> <i class="fa fa-twitter" style="font-size:50px;color:#00aced"></i></h5>
                            <br>
                            <p class="center">Descarga la app.</p>
                            <h5 class="center"><img src="/assets/img/download.png" height="50"  alt="DownloadPlayStore"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="page-footer" style="background-color:#9b59b6">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Telefonos</h5>
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">999-122-122</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">999-122-122</a></li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2018 Copyright Text
                </div>
            </div>
        </footer>    
  </body>
 </html>

